.bottom-menu{
    bottom: 0;
    top: auto !important;
    a{
        color: #000;
        flex-direction: column;
        .v-btn--icon{
            margin: 0 !important;
        }
    }
    span{
        font-size: 10px;
        font-style: normal;
        font-weight: bold;
        line-height: 14px;
    }
    &--button{
        margin: 0;
        a{
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            height: 50px;
        }
    }
}