.top-menu{
    box-shadow: none !important;
    .v-toolbar__content{
        padding: 0;
        height: 50px !important;
    }
    &--caption{
        color: #fff;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-align: right;
    }
    .v-icon{
        color: #fff;
    }
    .main{
        justify-content: space-between;
        align-items: center;
        padding: 13px;
    }
    span{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $black;
    }
    &--white{
        background-color: #fff !important;
        transition: all .2s cubic-bezier(.4,0,.2,1);
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12) !important;
        .top-menu--caption{
            color: #000 !important;
        }
        .v-icon{
            color: $red;
        }
    }
}