.total-investasi{
    &--detail {
        justify-content: space-between;
        padding: 20px 0px;
    }
    h4{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
    }
}