.total-dana-terima{
    &--detail {
        justify-content: space-between;
        padding: 20px 0px;
        align-items: center;
    }
    h4{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
    }
    h5{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: $blue;
    }
    span{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }
}