.v-content{
    padding-bottom: 56px !important;
    padding-top: 0 !important;
}

.v-btn__content{
    a{
        text-transform: capitalize;
    }
}

.d-flex {
    display: flex;
    flex: 1 1 auto !important;
}

.nuxt-link-active{
    color: #A71E22 !important;
    .v-icon{
        color: #A71E22 !important;
    }
}

a{
    text-decoration: none;
    align-items: center;
}

img{
    object-fit: cover
}

.main{
    max-width: 48rem;
    margin: auto !important;
    font-family: 'Nunito Sans';
    height: 100%;
}

.plr-15{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.bg{
    &--white{
        background-color: #fff !important;
    }
    &--grey{
        background-color: #EAEAEA;
    }
}

.line{
    &--vertical{
        border: 0.5px solid #EAEAEA;
        height: auto;
        max-width: 1px;
    }
    &--horizontal{
        border: 1px solid #EAEAEA;
        width: 100%;
        max-height: 1px;
    }
}

@media only screen and (max-width: 560px){
    .main{
        width: 100%;
    }
}

@media only screen and (min-width: 561px){
    .main{
        width: 480px;
    }
}