.v-content{
    padding-bottom: 56px;
    padding-top: 0 !important;
}

.nuxt-link-active{
    color: #A71E22 !important;
    .v-icon{
        color: #A71E22 !important;
    }
}

a{
    text-decoration: none;
    align-items: center;
}

.main{
    max-width: 48rem;
    margin: auto !important;
    font-family: 'Nunito Sans';
}

.plr-15{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.mb-60{
    margin-bottom: 60px;
}

.bg{
    &--white{
        background-color: #fff !important;
    }
}

@media only screen and (max-width: 560px){
    .main{
        width: 100%;
    }
}

@media only screen and (min-width: 561px){
    .main{
        width: 480px;
        overflow-x: hidden;
    }
}