.theme--light.application {
  color: #231F20;
}

.v-content {
  padding-top: 0 !important;
}

.v-content__wrap {
  min-height: 100vh;
}

.v-btn {
  padding: 0;
  height: 100%;
}

.v-btn__content a {
  text-transform: capitalize;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex > * {
  -webkit-box-flex: inherit !important;
      -ms-flex: inherit !important;
          flex: inherit !important;
}

.d-flex > .flex-1 {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

.nuxt-link-active {
  color: #A71E22 !important;
}

.nuxt-link-active .v-icon {
  color: #A71E22 !important;
}

a {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-img {
  width: 17px;
  height: 17px;
}

.main {
  max-width: 48rem;
  margin: auto !important;
  font-family: 'Nunito Sans';
  height: 100%;
}

.custom-button {
  width: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.plr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-180 {
  padding-bottom: 180px !important;
}

.pt-65 {
  padding-top: 65px;
}

.h-120 {
  height: 120px;
}

.h-135 {
  height: 135px;
}

.text-grey {
  color: #999999;
}

.text-black {
  color: #231F20;
}

.text-white {
  color: #fff;
}

.bg--white {
  background-color: #fff !important;
}

.bg--grey {
  background-color: #EAEAEA;
}

.bg--trans {
  background-color: transparent !important;
}

.bg--yellow {
  background-color: #F3E249 !important;
}

.line--vertical {
  border: 0.5px solid #EAEAEA;
  height: auto;
  max-width: 1px;
}

.line--horizontal {
  border: 1px solid #EAEAEA;
  width: 100%;
  max-height: 1px;
}

@media only screen and (max-width: 320px) {
  .plr-15 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media only screen and (max-width: 560px) {
  .main {
    width: 100%;
  }
}

@media only screen and (min-width: 561px) {
  .main {
    width: 480px;
  }
}

.bottom-menu {
  bottom: 0;
  top: auto !important;
}

.bottom-menu a {
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-menu a .v-btn--icon {
  margin: 0 !important;
}

.bottom-menu span {
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
}

.bottom-menu .v-toolbar__content {
  padding: 0px !important;
  height: 50px !important;
}

.bottom-menu--button {
  margin: 0;
}

.bottom-menu--button a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  height: 50px;
}

.top-menu {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.top-menu .v-toolbar__content {
  padding: 0;
  height: 50px !important;
}

.top-menu--caption {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
}

.top-menu .v-icon {
  color: #fff;
}

.top-menu .main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
}

.top-menu span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #231F20;
}

.top-menu--white {
  background-color: #fff !important;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.top-menu--white .top-menu--caption {
  color: #000 !important;
}

.top-menu--white .v-icon {
  color: #A71E22;
}

.main-swiper .swiper-slide {
  position: relative;
  height: 500px;
}

.main-swiper .swiper-slide img {
  height: 100%;
  width: 100%;
}

.main-swiper .swiper-slide-content {
  background: linear-gradient(358.67deg, rgba(167, 30, 34, 0) 30%, rgba(167, 30, 34, 0.6) 80%);
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  color: #fff;
  height: calc(100% - 56px);
  padding-top: 56px;
}

.main-swiper .swiper-slide-content h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
}

.main-swiper .swiper-slide-content p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.main-swiper .swiper-slide-content button {
  height: 40px;
}

.main-swiper .swiper-slide-content button a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.main-swiper .swiper-slide-content button:first-child a {
  color: #A71E22;
}

.main-swiper .swiper-slide-button {
  margin-bottom: 60px;
}

.main-swiper .v-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.progress-investasi h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

.progress-investasi .thumbnail-container .v-progress-linear__bar__determinate {
  background-color: #A71E22 !important;
  border-color: #A71E22 !important;
}

.progress-investasi .thumbnail-container .v-progress-linear {
  margin: 6px 0 !important;
}

.progress-investasi .thumbnail-image {
  position: relative;
}

.progress-investasi .thumbnail-image img {
  width: 100%;
  height: inherit;
  border-radius: 2px;
}

.progress-investasi .thumbnail-image--content {
  position: absolute;
  padding: 10px;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35.42%, rgba(83, 9, 11, 0)), to(#231F20));
  background: linear-gradient(180deg, rgba(83, 9, 11, 0) 35.42%, #231F20 100%);
  top: 0;
}

.progress-investasi .thumbnail-image--content a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.progress-investasi .thumbnail-image--content a span {
  background: #FFFFFF;
  opacity: 0.9;
  border-radius: 2px;
  color: #000;
  padding: 2px 4px;
  font-size: 8px;
  line-height: 11px;
  white-space: nowrap;
}

.progress-investasi .thumbnail-detail {
  margin-bottom: 15px;
}

.progress-investasi .thumbnail-detail--title {
  font-size: 11px;
  line-height: 15px;
  color: #999999;
}

.progress-investasi .thumbnail-detail p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 0;
}

.progress-investasi .thumbnail-progress {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-investasi .thumbnail-progress--title {
  color: #188CA6;
}

.progress-investasi .thumbnail-progress p {
  margin-bottom: 0;
  text-align: right;
}

.progress-investasi .thumbnail-done {
  background: #188CA6;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.progress-investasi .thumbnail-expired, .progress-investasi .thumbnail-expired > .v-icon {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  color: #B9B9B9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-investasi .thumbnail-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.progress-investasi .thumbnail-button a {
  color: #fff !important;
}

.wording-investasix h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.wording-investasix .wording-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.wording-investasix .wording-button a {
  color: #fff !important;
}

.wording-investasix .wording-column {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 35px;
  padding-top: 35px;
  text-align: center;
}

.wording-investasix .wording-column--image {
  background-color: #fff;
  border-radius: 50%;
  width: 59px;
  height: 59px;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.wording-investasix .wording-column--image img {
  margin: auto;
  display: block;
}

.wording-investasix .wording-column--title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.wording-investasix .wording-column--caption {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin: 3px 0;
}

.wording-investasix .wording-column p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.wording-investasix .wording-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wording-investasix .wording-row--title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.wording-investasix .wording-row p {
  text-align: center;
  margin-bottom: 0;
}

.wording-investasix .wording-row--content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.wording-investasix .wording-row--content img {
  background-color: #EAEAEA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
}

.kampanye-detil--frekuensi {
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  padding: 15px;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
}

.kampanye-detil--frekuensi .v-icon {
  font-size: 6px;
  color: #B9B9B9;
}

.kampanye-detil--frekuensi > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.kampanye-detil--link {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #231F20;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  padding: 13px;
}

.kampanye-detil--link .v-icon {
  color: #A71E22;
}

.kampanye-detil--investasi {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kampanye-detil--investasi > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 20px;
}

.kampanye-detil--investasi span {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #188CA6;
}

.kampanye-detil--investasi a {
  color: #A71E22;
  text-decoration: underline;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
}

.kampanye-detil h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.kampanye-detil h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.kampanye-detil h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.kampanye-detil p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.total-investasi--detail {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}

.total-investasi h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.total-dana-terima--detail {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-dana-terima h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.total-dana-terima h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #188CA6;
}

.total-dana-terima span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.identitas-usaha--detail span {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #999999;
}

.identitas-usaha--detail h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.identitas-usaha--detail p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #999999;
}

.highlight-keuangan--container {
  border: 1px solid #EAEAEA;
  border-left: 6px solid #188CA6;
  padding-right: 6px;
  padding-left: 15px;
}

.highlight-keuangan h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #A71E22;
}

.highlight-keuangan span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.highlight-keuangan--top {
  padding: 10px 0px;
}

.highlight-keuangan--top h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.highlight-keuangan--bottom {
  padding: 10px 0px;
}

.highlight-keuangan--bottom h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.jadwal-angsuran--container {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25), 2px 2px 3px rgba(176, 176, 176, 0.25);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25), 2px 2px 3px rgba(176, 176, 176, 0.25);
  border-radius: 2px;
}

.jadwal-angsuran span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.jadwal-angsuran p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.jadwal-angsuran--detail {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jadwal-angsuran--detail h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #A71E22;
  text-align: right;
}

.jadwal-angsuran--tanggal {
  background-color: #188CA6;
  border: 1px solid #188CA6;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px 0 0 2px;
}

.jadwal-angsuran--tanggal h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.jadwal-angsuran--tanggal span {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
}

.mulai-investasi--admin-chat {
  padding: 10px;
  border-radius: 5px;
}

.mulai-investasi--admin-chat:first-child {
  border-radius: 0px 10px 10px 10px;
  position: relative;
}

.mulai-investasi--admin-chat:first-child:before {
  position: absolute;
  left: 0;
  top: -8px;
  width: 20px;
  height: 10px;
  content: '';
  border-bottom: solid 5px #fff;
  border-left: solid 10px #fff;
  border-right: solid 10px transparent;
  border-top: solid 5px transparent;
}

.mulai-investasi--admin-chat button {
  width: 105px;
  height: 35px;
  margin-right: 0;
  margin-left: auto;
}

.mulai-investasi--admin-chat button a {
  color: #fff;
  height: auto;
}

.mulai-investasi--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mulai-investasi--user-chat {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px;
  border-radius: 5px;
}

.mulai-investasi--user-chat:first-child {
  border-radius: 10px 0px 10px 10px;
  position: relative;
}

.mulai-investasi--user-chat:first-child:before {
  position: absolute;
  right: 0;
  top: -8px;
  width: 20px;
  height: 10px;
  content: '';
  border-bottom: solid 5px #F3E249;
  border-right: solid 10px #F3E249;
  border-left: solid 10px transparent;
  border-top: solid 5px transparent;
}

.mulai-investasi--floating {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  border-radius: 5px 5px 0px 0px;
  background-color: #fff;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px;
}

.mulai-investasi--floating-target {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mulai-investasi--floating .v-input {
  width: 100%;
}

.mulai-investasi--floating .v-input .v-messages__wrapper, .mulai-investasi--floating .v-input .primary--text {
  color: #A71E22 !important;
}

.mulai-investasi--floating .v-input .v-input__slot:after {
  border-color: #A71E22 !important;
}

.mulai-investasi--floating .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mulai-investasi--floating button {
  width: 100%;
  height: 40px;
}

.mulai-investasi--floating button a {
  color: #fff;
  height: 40px;
}

.mulai-investasi--done {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.mulai-investasi--done button {
  width: 100%;
  height: 40px;
}

.mulai-investasi--done button a {
  color: #fff;
  height: 40px;
}

.mulai-investasi .v-btn--outline a {
  color: #A71E22;
}

.mulai-investasi p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
}

.mulai-investasi .pengembalian {
  color: #188CA6;
}

.mulai-investasi span.md {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.mulai-investasi span.sm {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #999999;
}

.mulai-investasi span.lg {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.mulai-investasi h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #188CA6;
}

.mulai-investasi h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.mulai-investasi h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.mulai-investasi button a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.mulai-investasi .h-180 {
  height: 180px;
}

.mulai-investasi .h-156 {
  height: 156px;
}

.mulai-investasi .w-100 {
  width: 100%;
}
/*# sourceMappingURL=app.css.map */