.theme--light.application {
  color: #231F20;
}

.v-content {
  padding-bottom: 56px !important;
  padding-top: 0 !important;
}

.v-btn__content a {
  text-transform: capitalize;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nuxt-link-active {
  color: #A71E22 !important;
}

.nuxt-link-active .v-icon {
  color: #A71E22 !important;
}

a {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  max-width: 48rem;
  margin: auto !important;
  font-family: 'Nunito Sans';
  height: 100%;
}

.custom-button {
  width: 200px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.plr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.bg--white {
  background-color: #fff !important;
}

.bg--grey {
  background-color: #EAEAEA;
}

.line--vertical {
  border: 0.5px solid #EAEAEA;
  height: auto;
  max-width: 1px;
}

.line--horizontal {
  border: 1px solid #EAEAEA;
  width: 100%;
  max-height: 1px;
}

@media only screen and (max-width: 560px) {
  .main {
    width: 100%;
  }
}

@media only screen and (min-width: 561px) {
  .main {
    width: 480px;
  }
}

.bottom-menu {
  bottom: 0;
  top: auto !important;
}

.bottom-menu a {
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-menu a .v-btn--icon {
  margin: 0 !important;
}

.bottom-menu span {
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
}

.top-menu {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent !important;
}

.top-menu .v-toolbar__content {
  padding: 0;
}

.top-menu--caption {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
}

.top-menu .main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
}

.top-menu--white {
  background-color: #fff !important;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.top-menu--white .top-menu--caption {
  color: #000 !important;
}

.top-menu--white .v-toolbar__content {
  height: 40px !important;
}

.main-swiper .swiper-slide {
  position: relative;
  height: 500px;
}

.main-swiper .swiper-slide img {
  height: 100%;
  width: 100%;
}

.main-swiper .swiper-slide-content {
  background: linear-gradient(358.67deg, rgba(167, 30, 34, 0) 30%, rgba(167, 30, 34, 0.6) 80%);
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  color: #fff;
  height: calc(100% - 56px);
  padding-top: 56px;
}

.main-swiper .swiper-slide-content h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
}

.main-swiper .swiper-slide-content p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.main-swiper .swiper-slide-content button {
  height: 40px;
}

.main-swiper .swiper-slide-content button a {
  padding: 8px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.main-swiper .swiper-slide-content button:first-child a {
  color: #A71E22;
}

.main-swiper .swiper-slide-button {
  margin-bottom: 60px;
}

.main-swiper .v-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.progress-investasi h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

.progress-investasi .thumbnail-container .v-progress-linear__bar__determinate {
  background-color: #A71E22 !important;
  border-color: #A71E22 !important;
}

.progress-investasi .thumbnail-container .v-progress-linear {
  margin: 6px 0 !important;
}

.progress-investasi .thumbnail-image {
  height: 120px;
  position: relative;
}

.progress-investasi .thumbnail-image img {
  width: 100%;
  height: inherit;
  border-radius: 2px;
}

.progress-investasi .thumbnail-image--content {
  position: absolute;
  padding: 10px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35.42%, rgba(83, 9, 11, 0)), to(#231F20));
  background: linear-gradient(180deg, rgba(83, 9, 11, 0) 35.42%, #231F20 100%);
  top: 0;
}

.progress-investasi .thumbnail-image--content a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.progress-investasi .thumbnail-image--content a span {
  background: #FFFFFF;
  opacity: 0.9;
  border-radius: 2px;
  color: #000;
  padding: 2px 4px;
  font-size: 8px;
  line-height: 11px;
}

.progress-investasi .thumbnail-detail {
  margin-top: 12px;
  margin-bottom: 15px;
}

.progress-investasi .thumbnail-detail--title {
  font-size: 11px;
  line-height: 15px;
  color: #999999;
}

.progress-investasi .thumbnail-detail p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 0;
}

.progress-investasi .thumbnail-progress {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-investasi .thumbnail-progress--title {
  color: #188CA6;
}

.progress-investasi .thumbnail-progress p {
  margin-bottom: 0;
  text-align: right;
}

.progress-investasi .thumbnail-done {
  background: #188CA6;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.progress-investasi .thumbnail-expired, .progress-investasi .thumbnail-expired > .v-icon {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  color: #B9B9B9;
}

.progress-investasi .thumbnail-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.progress-investasi .thumbnail-button a {
  color: #fff !important;
}

.wording-investasix h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.wording-investasix .wording-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.wording-investasix .wording-button a {
  color: #fff !important;
}

.wording-investasix .wording-column {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 35px;
  padding-top: 35px;
  text-align: center;
}

.wording-investasix .wording-column--image {
  background-color: #fff;
  border-radius: 50%;
  width: 59px;
  height: 59px;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.wording-investasix .wording-column--image img {
  margin: auto;
  display: block;
}

.wording-investasix .wording-column--title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.wording-investasix .wording-column--caption {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin: 3px 0;
}

.wording-investasix .wording-column p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.wording-investasix .wording-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wording-investasix .wording-row--title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.wording-investasix .wording-row p {
  text-align: center;
  margin-bottom: 0;
}

.wording-investasix .wording-row--content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.wording-investasix .wording-row--content img {
  background-color: #EAEAEA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
}
/*# sourceMappingURL=app.css.map */